.inputfld {
  /* text-align: left;    */
  /* align-items: center; */
  width: 100%;
  margin: 3px;
  box-sizing: border-box;
}
.container-forgetpage {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-primary {
  width: 100%;
  background-color: #16449b;
}
.routedcomponents {
  display: flex;
  justify-content: center;
  width: 100%;
}
body {
  background-image: url("../../assets/bgimg.jpg");

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.hippo-logo-image {
  margin-left: 20px;
  height: 40px;
}
.jungleworks-logo-image {
  width: 122px;
  margin-right: 20px;
  height: 55px !important;
}
.jungleworks-logo-container {
  display: flex;
  align-items: center;
}
.logo-container {
  display: flex;
  width: 100%;
  padding-top: 25px;
  justify-content: space-between;
  align-items: center;
}
